.banner {
    background-image: url("../../../Images/banner-bg.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.373);
    background-blend-mode: multiply;
}
